<div class="app">
  <ngx-datatable #expandableTable
                 class="material"
                 [columnMode]="'flex'"
                 [headerHeight]="50"
                 [rowHeight]="60"
                 [rows]="cities">
    <ngx-datatable-row-detail [rowHeight]="50">
      <ng-template ngx-datatable-row-detail-template>This is content</ng-template>
    </ngx-datatable-row-detail>
    <ngx-datatable-column [prop]="'name'"></ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button (click)="toggle(row)">Toggle</button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <ngx-datatable class="material"
                 [columnMode]="'flex'"
                 [headerHeight]="50"
                 [rowHeight]="60"
                 [rows]="cities">
    <ngx-datatable-column [prop]="'name'"></ngx-datatable-column>
  </ngx-datatable>
</div>
